[user]
  editor = vi
[alias]
  c = commit
  ; checkout the given branch, using fuzzy finding if a branch is not given.
  co = "!f() { \
    declare branch=\"$1\"; \
    if [ \"$branch\" == \"\" ]; then \
      branch=$(git branch -a | sed 's|remotes/origin/||' | grep -v 'HEAD ->' | fzf | tr -d '^* '); \
    fi; \
    git checkout \"$branch\"; \
  }; f"
  b = branch
  ba = branch -a
  d = checkout --
  rv = checkout --
  s = stash
  sl = stash list
  sa = stash apply
  sc = stash clear
  st = status
  bname = rev-parse --abbrev-ref HEAD
  protected = "!f() { \
    declare branch=\"$(git bname)\"; \
    if [[ \"$branch\" == \"develop\" || \"$branch\" == \"master\" ]]; then \
      echo \"no. branch '$branch' is protected.\"; \
    fi \
  }; f"
  bpush = "!f() { \
    declare protected=$(git protected); \
    if [ \"$protected\" == \"\" ]; then \
      declare branch=$(git bname); \
      git push -u origin $branch; \
    else \
      echo \"$protected\"; \
    fi \
  }; f"
  bpull = !sh -c '_branch_name=`git bname` && git pull origin $_branch_name'
  ; bpullr = !sh -c '_branch_name=`git bname` && git pull --rebase origin $_branch_name'
  revision = !git show|head -1|cut -c8-
  rev = revision
  ; delete a local branch that has been merged to master and not pushed to remote
  bdel = branch -d
  ; delete a local branch that has not been merged and not pushed to remote
  bdelf = branch -D
  ; delete a remote branch that has been merged
  bdelr = !sh -c 'git branch -d -r origin/$0'
  ; delete a remote branch that has not been merged
  bdelrf = !sh -c 'git branch -D -r origin/$0'
  ; wipe (remove) a remote branch from origin (remove the branch from GitHub)
  bwipe = !sh -c 'git push origin --delete $0'
  ; cleanup local copies of branches that have already been merged
  bclean = !git branch --merged | grep -vE '\\*|main|master|develop|dev' | xargs -n1 git branch -d
  dirty = clean -dxn
  klean = clean -dxi
  mainclean = !git co main && git bpull && git bclean
[commit]
  template = ~/.gitmessage
[merge]
  tool = vimdiff
[mergetool]
  prompt = true
[mergetool "vimdiff"]
  cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[pull]
	ff = only
[init]
	defaultBranch = main
[core]
	attributesfile = ~/.gitattributes
